@model IEnumerable<Outsourcing.Data.Models.Logdiary>
@using Outsourcing.Data.Models

@{
    ViewBag.Title = "OrderByMonth";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    double? sum = 0;
    int sumOrders = 0;
}


@section scripts{
    <script src="/Content/admin/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/Content/admin/js/jquery.dataTables.bootstrap.js" type="text/javascript"></script>
}
@section breadcrumb
{
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>

                <a href="/Admin/OrdersSales">Quản lý Đơn Hàng</a>
            </li>
            <li>

                <a href="#">Thêm mới một Đơn Hàng</a>
            </li>
        </ul>
    </div>

}
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            @*<a class="btn btn-success" href="/Admin/Store/Create" style="margin-bottom:10px">Thêm mới Cửa Hàng</a>*@
            <div class="table-header">Danh sách hoá đơn</div>

            <table id="StoreTable" class="table table-bordered table-striped table-fixed-header">
                <thead>
                    <tr role="row">
                        <th>STT</th>
                        <th>
                            Tên khách hàng
                        </th>
                        <th>
                            Giá sản phẩm
                        </th>
                        <th>
                            Ngày đặt
                        </th>
                        <th>
                            Tên level
                        </th>

                        <th>Ghi chú</th>
                        @*<th></th>*@
                    </tr>

                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                    @if (Model != null && Model.Any())
                    {
                        int count = 0;
                        foreach (var item in Model.OrderBy(p => p.LastEditedTime))
                        {
                                count++;
                            <tr class="odd">
                                <td class=" sorting_1">@count</td>
                                <td class="hidden-480 ">@item.DataUser.FirstName</td>
                                <td class="hidden-480 ">@item.Price_1</td>
                                <td class="hidden-480 ">@item.LastEditedTime</td>
                                <td class="hidden-480 ">@item.NameLevel</td>
                                <td class="hidden-480 ">@item.Noted</td>
                                <td class="">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">

                                        <a href="/Admin/DataUser/Edit?id=@item.DataUser.Id" class="btn btn-xs btn-info">
                                            <i class="icon-edit bigger-120"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            sumOrders += 1;
                            sum += item.Price_1;
                        }
                    }
                </tbody>
            </table>
            <h5 class="text-right" style="color:red;font-weight:bold;">Tổng hóa đơn: @sumOrders</h5>
            <h5 class="text-right" style="color:red;font-weight:bold;">Tổng doanh thu: @sum</h5>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $("#StoreTable").DataTable();
        //var arrayfilter = [2, 4];

        createDropFilter(table, [2]);
        bindDropFilter(table, [6]);

    });

    function createDropFilter(table, array) {
        array.forEach(function (i) {
            var selector = ".filter_" + i;
            var filter1 = $(selector);
            filter1.on('change', function () {
                table.column(i)
                    .search($(this).val())
                    .draw();
            });

            table.column(i).data().unique().sort().each(function (d, j) {
                filter1.append('<option value="' + d + '">' + d + '</option>');
            });

        });
    }
    function bindDropFilter(table, array) {
        array.forEach(function (i) {
            var selector = ".filter_" + i;
            var filter1 = $(selector);
            filter1.on('change', function () {
                table.column(i)
                    .search($(this).val())
                    .draw();
            });
        });
    }
</script>
<script src="~/Content/Report/CustomJs.js"></script>

