@using Outsourcing.Data.Models
@model IEnumerable<Outsourcing.Data.Models.DataUser>
@{
    ViewBag.Title = "ReportTeleDashboard";
    Layout = "~/Areas/Report/Views/Shared/_ReportLayout.cshtml";
}

@section scripts{
    <script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>

    <!-- Add Firebase products that you want to use -->
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-database.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>*@
    <script src="~/Content/Report/vendor/jquery/jquery.js"></script>
    <script src="~/Content/Report/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/Content/Report/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/Report/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/Report/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <link href="~/Content/Report/vendor/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet" />>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/Content/Report/CommonVariables.js"></script>

}

<section role="main" class="content-body margin-0 ">
    <header class="page-header fix-header-tele">
        <h2>@ViewBag.Level (@Model.FirstOrDefault().Level.LevelName)</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="/Admin/DataUser/ReportTeleDashboard">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li><span>Dashboard/ Data</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>
    <!-- start: page -->
    <div class="row">
        <div class="col-lg-12 mb-3">
            <section class="card">
                <header class="card-header card-header-transparent">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">Danh sách Khách hàng: <span style="color:red">@Model.FirstOrDefault().Level.LevelName</span></h2>
                </header>
                <div class="card-body">
                    <table class="table table-responsive-md table-striped mb-0" id="table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên khách hàng</th>
                                <th>Email</th>
                                <th>Cuộc gọi</th>
                                <th>Số điện thoại</th>
                                <th>Người phụ trách</th>
                                <th>Ghi chú</th>
                                <th>Ghi âm</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody id="tbody-online">
                            @if (Model.Count() != 0)
                            {
                                var count = 0;
                                foreach (var item in Model)
                                {
                                    count++;
                                    var sex = "";
                                    if (item.Sex != null)
                                    {
                                        if (item.Sex == true) { sex = "Nam"; }
                                        else { sex = "Nữ"; }
                                    }
                                    var date = string.Format("{0:dd/MM/yyyy}", item.DayOfBith);
                                    var price = item.Price_1 == null ? 0 : item.Price_1;
                                    if (item.LogDiaries.Count > 0)
                                    {
                                        <tr class="odd">
                                            <td class=" sorting_1">@count</td>
                                            <td class="hidden-480 ">@item.FirstName  @item.LastName</td>
                                            <td class="hidden-480">
                                                @item.Email
                                            </td>
                                            <td class="hidden-480 ">
                                                @item.LogDiaries.LastOrDefault().StatusCall
                                            </td>
                                            <td class="hidden-480 ">
                                                @item.PhoneNumber
                                            </td>
                                            <td class="hidden-480 ">
                                                @item.LogDiaries.LastOrDefault().TeleName
                                            </td>
                                            <td class="hidden-480 ">
                                                @item.LogDiaries.LastOrDefault().Noted
                                            </td>
                                            <td class="hidden-480 ">
                                                <audio id="audio" controls="" controlslist="nodownload" style="display: block;" src="@item.LogDiaries.LastOrDefault().LinkFile"><source src="@item.LogDiaries.LastOrDefault().LinkFile" type="audio/wav"></audio>
                                            </td>
                                            <td class="hidden-480 ">
                                                @foreach (var mapping in ViewBag.ListDataMapping)
                                                {
                                                    if (mapping.DataUserId == item.Id)
                                                    {
                                                        <a href="/Admin/DataUser/Edit?id=@mapping.Id" target="_blank" class="btn btn-primary">Chi tiết</a>
                                                    }
                                                }

                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="odd">
                                            <td class=" sorting_1">@count</td>
                                            <td class="hidden-480 ">@item.FirstName  @item.LastName</td>
                                            <td class="hidden-480">
                                                @item.Email
                                            </td>
                                            <td class="hidden-480 ">
                                                NULL @*@item.LogDiaries.LastOrDefault().StatusCall*@
                                            </td>
                                            <td class="hidden-480 ">
                                                @item.PhoneNumber
                                            </td>
                                            <td class="hidden-480 ">
                                                NULL @*@item.LogDiaries.LastOrDefault().TeleName*@
                                            </td>
                                            <td class="hidden-480 ">
                                                NULL @*@item.LogDiaries.LastOrDefault().Noted*@
                                            </td>
                                            <td class="hidden-480 ">
                                                NULL @*<audio id="audio" controls="" controlslist="nodownload" style="display: block;" src="@item.LogDiaries.LastOrDefault().LinkFile"><source src="@item.LogDiaries.LastOrDefault().LinkFile" type="audio/wav"></audio>*@
                                            </td>
                                            <td class="hidden-480 ">
                                                @foreach (var mapping in ViewBag.ListDataMapping)
                                                {
                                                    if (mapping.DataUserId == item.Id)
                                                    {
                                                        <a href="/Admin/DataUser/Edit?id=@mapping.Id" target="_blank" class="btn btn-primary">Chi tiết</a>
                                                    }
                                                }

                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <!-- end: page -->
</section>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $("#table").DataTable({
            aLengthMenu: [
                [10, 50, 100, 200, -1],
                [10, 50, 100, 200, "All"]
            ],
            iDisplayLength: 100,
            sPaginationType: "full_numbers",
            oLanguage: {
                oPaginate: {
                    sFirst: "<<", // This is the link to the first page
                    sPrevious: "<", // This is the link to the previous page
                    sNext: ">", // This is the link to the next page
                    sLast: ">>" // This is the link to the last page
                }
            }
        });
        //var arrayfilter = [2, 4];

        createDropFilter(table, [2]);
        bindDropFilter(table, [6]);
    });

    function createDropFilter(table, array) {
        array.forEach(function (i) {
            var selector = ".filter_" + i;
            var filter1 = $(selector);
            filter1.on('change', function () {
                table.column(i)
                    .search($(this).val())
                    .draw();
            });

            table.column(i).data().unique().sort().each(function (d, j) {
                filter1.append('<option value="' + d + '">' + d + '</option>');
            });

        });
    }
    function bindDropFilter(table, array) {
        array.forEach(function (i) {
            var selector = ".filter_" + i;
            var filter1 = $(selector);
            filter1.on('change', function () {
                table.column(i)
                    .search($(this).val())
                    .draw();
            });
        });
    }
</script>


