@using Microsoft.AspNet.Identity
@model Labixa.Models.ManageUserViewModel

@*<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>*@

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<h4>Change Password Form</h4>
        <hr />*@
    @Html.ValidationSummary()
    <label class="block clearfix">
        <span class="block input-icon input-icon-right">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Mật khẩu hiện tại" })
            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
            <i class="ace-icon fa fa-user"></i>
        </span>
    </label>
    <label class="block clearfix">
        <span class="block input-icon input-icon-right">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Mật khẩu mới" })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            <i class="ace-icon fa fa-user"></i>
        </span>
    </label>
    <label class="block clearfix">
        <span class="block input-icon input-icon-right">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Nhập lại mật khẩu" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            <i class="ace-icon fa fa-user"></i>
        </span>
    </label>
    <div class="clearfix">
        <label class="inline">
            <a href="@Url.Action("Login","Account")" style="text-align:center;">Quay lại.</a>
        </label>
        <button type="submit" class="width-55 pull-right btn btn-sm btn-primary">
            <i class="ace-icon fa fa-key"></i>
            <span class="bigger-110">Đổi mật khẩu</span>
        </button>
    </div>
    @*<div class="form-group">
            <div class="col-md-10">
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Password" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Password" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change password" class="btn btn-default" />
            </div>
        </div>*@
}
