@model Labixa.Models.ManageUserViewModel

<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Create Local Login</h4>
    <hr />
    @Html.ValidationSummary()
    <label class="block clearfix">
        <span class="block input-icon input-icon-right">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Mật khẩu hiện tại" })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            <i class="ace-icon fa fa-user"></i>
        </span>
    </label>
    <label class="block clearfix">
        <span class="block input-icon input-icon-right">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Mật khẩu mới" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            <i class="ace-icon fa fa-user"></i>
        </span>
    </label>
    <div class="clearfix">
        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
            <i class="ace-icon fa fa-key"></i>
            <span class="bigger-110">Set password</span>
        </button>
    </div>
}
