@using Outsourcing.Core
@model Labixa.Areas.Admin.ViewModel.OATemplateModel
@{
    ViewBag.Name = "Source Data";
}

@section scripts{
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckeditor/config.js"></script>
}
@section breadcrumb
{
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/">Home</a>
            </li>
            <li>
                <i class="icon-edit"></i>
                <a href="/Admin/OATemplate">Quản lý OA Template</a>
            </li>

        </ul>
    </div>
}
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">

            <div class="alert alert-block alert-info">
                Tạo Mới
            </div>
            @using (Html.BeginForm("Create", "OATemplate", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)

                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#tab1">
                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                Nội Dung
                            </a>
                        </li>

                    </ul>

                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade active in">
                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.Template_Name)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Template_Name)
                                    @Html.ValidationMessageFor(model => model.Template_Name)
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.TemplateId)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.TemplateId)
                                    @Html.ValidationMessageFor(model => model.TemplateId)
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.TrackingId)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.TrackingId)
                                    @Html.ValidationMessageFor(model => model.TrackingId)
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.Mode)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Mode)
                                    @Html.ValidationMessageFor(model => model.Mode)
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.Phone)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Phone)
                                    @Html.ValidationMessageFor(model => model.Phone)
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.IsActive)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive)
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.ContentEng)
                                <div class="col-sm-9">
                                    <textarea class="col-xs-12 col-md-12" id="ContentEng" name="ContentEng" rows="10" wrap="hard" value=""></textarea>
                                    @Html.ValidationMessageFor(model => model.ContentEng)
                                </div>
                            </div>

                        </div>



                    </div>

                    @Html.Partial("_PartialButtonGroup", "/Admin/OATemplate")

                </div>
            }
        </div>
    </div>
</div>