@model IEnumerable<Outsourcing.Data.Models.Brand>

@*<a onclick="ChangeBrand(0)" class="mb-1 mt-1 mr-1 btn btn-danger btn-lg btn-block" style="color:white">Toàn hệ thống</a>*@
@if (Model.Count() > 0 && Model.Any())
{
    foreach (var item in Model)
    {
        <a onclick="ChangeBrand(@item.Id,'@item.Name','@item.Code')" class="mb-1 mt-1 mr-1 btn btn-info btn-lg btn-block" style="color:white">@item.Name <span> (@item.Code)</span></a>
    }
}
<script>

    function ChangeBrand(brandId,brandName,BrandCode) {
        createCookie("BrandId", brandId, 100);
        createCookie("BrandName", brandName, 100);
        createCookie("BrandCode", BrandCode, 100);
        $.post('/Staff/SetVariable', { key: "BrandId", value: brandId }, function (data) {
            console.log("Success " + data.success);
        });
        location.reload();
    }
    function createCookie(name, value, days) {
    var expires;

    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toGMTString();
    } else {
        expires = "";
    }
    document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
}
</script>