@using Outsourcing.Core
@model Labixa.Areas.Admin.ViewModel.ScheduleFormModel
@{
    ViewBag.Name = "Source Data";
}

@section scripts{
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckeditor/config.js"></script>

    <link href="~/Content/admin/css/jquery.datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Content/admin/js/date-time/jquery.js"></script>
    <script src="~/Content/admin/js/date-time/jquery.datetimepicker.full.js"></script>
}
@section breadcrumb
{
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/">Home</a>
            </li>
            <li>
                <i class="icon-edit"></i>
                <a href="/Admin/Schedule">Quản lý lịch</a>
            </li>

        </ul>
    </div>
}
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">

            <div class="alert alert-block alert-info">
                chỉnh sửa
            </div>
            @using (Html.BeginForm("Edit", "Schedule", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.UserDataId)
                @Html.HiddenFor(model => model.Deadline)

                @*@Html.HiddenFor(model=>model.Stores)*@
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#tab1" title="Nội dung">
                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                Thông tin lịch hẹn
                            </a>
                        </li>
                        @*Nghia code*@
                        @*<li>
                        <a data-toggle="tab" href="#tab2" title="Thông tin lịch hẹn">
                            <i class="green ace-icon fa fa-home bigger-120"></i>
                            Thông tin lịch hẹn
                        </a>
                    </li>*@
                    </ul>

                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row content-page justify-content-center">
                                <div class="col-sm-12">
                                    <div class="form-group ">
                                        <div class="col-sm-2">
                                            <label>Tên nhân viên: </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="col-xs-12 col-md-12" value="@Model.UserDataMapping.User.UserName" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-sm-2">
                                            <label>Tên khách hàng: </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="col-xs-12 col-md-12" value="@Model.UserDataMapping.DataUser.FirstName @Model.UserDataMapping.DataUser.LastName" readonly />
                                        </div>
                                        <div class="col-sm-2">
                                            <label>Số điện thoại: </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="col-xs-12 col-md-12" value="@Model.UserDataMapping.DataUser.PhoneNumber" readonly />
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                        <div class="col-sm-2">
                                            <label>Biển số xe: </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="col-xs-12 col-md-12" id="bienSoXe" name="bienSoXe" value="@Model.BienSoXe" />
                                        </div>
                                        <div class="col-sm-2">
                                            <label>Loại xe: </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="col-xs-12 col-md-12" id="loaiXe" name="loaiXe" value="@Model.LoaiXe" />
                                        </div>
                                    </div>*@
                                    <div class="form-group ">
                                        @*<div class="col-sm-2">
                                            <label>Loại dịch vụ: </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="form-control" name="loaiDichVu" id="loaiDichVu">
                                                <option>Dịch vụ</option>
                                                <option>Mua hàng</option>
                                            </select>
                                        </div>*@
                                        <div class="col-sm-2">
                                            <label>Ngày/Giờ hẹn: </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type='datetime' class="col-xs-12 col-md-12" name="ngayGio" id='datetimepicker1' />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <label>Chi nhánh muốn đến: </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="form-control" name="chiNhanh" id="chiNhanh">
                                                <option>None</option>
                                                @foreach (var item in ViewBag.Stores)
                                                {
                                                    if (item.Address != null)
                                                    {
                                                        <option>@item.Address</option>
                                                    }
                                                }
                                            </select>

                                        </div>
                                        @*<div class="col-sm-4">
                                        <select class="form-control" name="loaiDichVu" id="loaiDichVu">
                                            <option>@Html.HiddenFor(model => model.SchedulesStore.Stores.Address)</option>

                                        </select>
                                    </div>*@
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Works)
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.TextAreaFor(model => model.Works, new { @class = "col-xs-12 col-md-12" })
                                            @Html.ValidationMessageFor(model => model.Works)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*
            partial for group button
                *@
                @Html.Partial("_PartialButtonGroup", "/Admin/Schedule")
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>