@using Outsourcing.Core
@model Labixa.Areas.Admin.ViewModel.UserDataMappingFormModel

@using (Html.BeginForm("SubmitEdit", "DataUser", null, FormMethod.Post, new { @class = "form-horizontal", @id = "submitEditForm" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.DataUserId)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.DataUser.IsActive)
    @Html.HiddenFor(model => model.DataUser.DateCreated)
    @Html.HiddenFor(model => model.DataUser.LastEditedTime)
    @Html.HiddenFor(model => model.DataUser.Deleted)
    @Html.HiddenFor(model => model.DataUser.DayOfBith)
    @Html.HiddenFor(model => model.DataUser.Position)
    @Html.HiddenFor(model => model.DataUser.StoreId)
    @Html.HiddenFor(model => model.DataUser.UserName)
    @Html.HiddenFor(model => model.DataUser.PhoneNumber)
    @Html.HiddenFor(model => model.User.FirstName)
    @Html.HiddenFor(model => model.User.LastName)

    <label>Máy nhánh: @Model.User.Extention</label>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-6">
                <fieldset class="form-group ">
                    <legend>Khách hàng @Model.DataUser.FirstName @Model.DataUser.LastName</legend>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.DataUser.FirstName)
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.DataUser.FirstName, new { @class = "col-xs-12 col-md-12" })
                            @Html.ValidationMessageFor(model => model.DataUser.FirstName)
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.DataUser.LastName)
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.DataUser.LastName)
                                @Html.ValidationMessageFor(model => model.DataUser.LastName)
                            </div>

                        </div>*@
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.DataUser.PhoneNumber)
                        </div>

                        <div class="col-md-9">
                            <input type="text" class="col-xs-12 col-md-12" value="@Model.DataUser.PhoneNumber" readonly />
                            @Html.ValidationMessageFor(model => model.DataUser.PhoneNumber)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.DataUser.Email)
                        </div>

                        <div class="col-md-9">
                            @Html.EditorFor(model => model.DataUser.Email)
                            @Html.ValidationMessageFor(model => model.DataUser.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.DataUser.Address)
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.DataUser.Address)
                            @Html.ValidationMessageFor(model => model.DataUser.Address)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.DataUser.ChannelDataId)
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.DataUser.ChannelDataId, Model.ListChanel, new { @class = "col-xs-12 col-md-12" })
                            @Html.ValidationMessageFor(model => model.DataUser.ChannelDataId)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.DataUser.LevelId)
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.DataUser.LevelId, Model.ListLevel, new { @class = "col-xs-12 col-md-12" })
                            @Html.ValidationMessageFor(model => model.DataUser.LevelId)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.DataUser.Price_1)
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.DataUser.Price_1, new { @class = "col-xs-12 col-md-12" })
                            @Html.ValidationMessageFor(model => model.DataUser.Price_1)
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.Action("ListLog", "DataUser", new { id = Model.Id })
                    <br>
                </div>
                @*@Html.Partial("_ListLog")*@
            </div>
        </div>

    </div>
    <div style="display:none;">
        @*@Html.EditorFor(model => model.AspNetUserId);
            @Html.EditorFor(model => model.DataUser);
            @Html.EditorFor(model => model.aspNetUser);*@
    </div>
}
